/* ejemplo1 */
.contenedor {
    background-color: rgb(255, 255, 255);
    height: 250px;
    width: 100%;
    display: flex;

    justify-content: space-between;
    border-style: solid;

}

.item1 {

    background-color: rgb(255, 0, 0);
    font-size: 30px;
    width: 200px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;



}

.item2 {
    background-color: rgb(0, 17, 255);
    font-size: 30px;
    width: 200px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 {
    background-color: rgb(23, 102, 3);
    font-size: 30px;
    width: 200px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fin ejemplo 1 */

/* ejemplo2*/
.contenedor2 {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 600px;
    display: inline-flex;
    justify-content: center;
    border-style: solid;
    flex-direction: row-reverse;
    align-items: center;


}

.item1E2 {

    background-color: rgb(255, 0, 0);
    font-size: 30px;
    width: 200px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;



}

.item2E2 {
    background-color: rgb(0, 17, 255);
    font-size: 30px;
    width: 200px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3E2 {
    background-color: rgb(23, 102, 3);
    font-size: 30px;
    width: 200px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fin ejemplo 2*/

/* ejemplo3 */
.contenedor3 {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    align-items: flex-end;

}

.item1E3 {

    background-color: rgb(255, 0, 0);
    font-size: 30px;
    width: 200px;
    height: 133px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;



}

.item2E3 {
    background-color: rgb(0, 17, 255);
    font-size: 30px;
    width: 200px;
    height: 133px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3E3 {
    background-color: rgb(23, 102, 3);
    font-size: 30px;
    width: 200px;
    height: 133.5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fin ejemplo 3 */