* {
    list-style: none
}

a {
    text-decoration: none;
}

i {
    color: #b9b9b9;
}

#idSection1 {
    background-color: #f3ebf1;
    width: 600px;

}

#idBoton {
    background-color: #e1d1eb;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 1002px 12px 1002px 102px;
}

h2,
h1 {
    text-shadow: 2px 2px rgb(211, 98, 186);
    font-family: 'Silkscreen', cursive;
}

p,
li {
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(165, 138, 184), 0 0 5px rgb(132, 97, 143);
    font-family: 'Inconsolata', monospace;
}

.caja {

    width: 200px;
    height: 150px;
    padding: 30px;

}

.caja2 {
    width: 300px;
    height: 50px;
    padding: 50px;
}